* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #2b5332;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 300px;
}

.logo {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

.login-form {
    background: #f0f8e1;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-bottom: 10%;
}

.login-form h2 {
    color: #007f55;
    margin-bottom: 20px;
    font-size: 28px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #007f55;
}

.login-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-actions button {
    background-color: #2b5332;
    color: #fff;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.login-actions button:hover {
    background-color: #005f3f;
}

.login-actions a {
    color: #2b5332;
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
}

.login-actions a:hover {
    text-decoration: underline;
}
